.btn {
    display: inline-block;
    font-size: em(18);
    min-width: 180px;
    color: $main-bg;
    background: #fdce00;
    border: 1px solid #fdce00;
    font-family: $sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 3;
    border-radius: 42px;
    padding: 0 35px 0;
    position: relative;
    cursor: pointer;
    @include transition;
    box-shadow: none;
    outline: none;

    @include breakpoint (desktop) {
        font-size: em(16);
        line-height: 2.8;
        padding: 2px 28px 0;
    }

    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
        color: #fdce00;
        background: #1d1d1d;
        border: 1px solid #fdce00;
    }

}

.status-btn {
    margin: 15px 0;

    .status {
        display: inline-block;
        min-width: 225px;
        font-size: em(16);
        color:#999999;
        background:transparent;
        border: 1px solid #d9d9d9;
        font-family: $sans-serif;
        font-weight: 600;
        letter-spacing: 0.01em;
        margin: 10px 10px 10px 0;
        line-height: 4.2;
        border-radius: 8px;
        padding: 0 35px;
        position: relative;
        cursor: pointer;
        @include transition;
        box-shadow: none;
        outline: none;
        @include breakpoint (desktop){
            padding: 0 30px;
            line-height: 3.8;
            min-width: 200px;
            font-size: em(14);
        }

        &:focus,
        &:hover {
            outline: none;
            box-shadow: none;
            background: $alert-btn;
            border-color: #e6261c;
            color: #494949;
        }
    }

    .active {
        outline: none;
        box-shadow: none;
        background: $alert-btn;
        border-color: #e6261c;
        color: #494949;
    }
}

