@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');

body {
  font-family: $sans-serif;
  font-weight: normal;
  line-height: 1.7;
  font-size: $base-font-size + px;
  color: $color-text;
  margin: 0;
}
@media screen and (min-width:1500px) {
  .container {
    max-width: 1470px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 25px;
  color:$color-heading;
}


h1 {
  font-size: em(42);
  font-family: $sans-serif;
  font-weight: normal;

  @include breakpoint(desktop) {
    font-size: em(38);
  }

  @include breakpoint(ipad) {
    font-size: em(32);
  }

  @include breakpoint(mobile) {
    font-size: em(30);
  }
}

h2 {
  font-size: em(36);
  font-weight: normal;

  @include breakpoint(desktop) {
    font-size: em(34);
  }

  @include breakpoint(ipad) {
    font-size: em(28);
  }

  @include breakpoint(mobile) {
    font-size: em(22);
  }
}

h3 {
  font-size: em(30);
  font-weight: normal;

  @include breakpoint(desktop) {
    font-size: em(28);
  }

  @include breakpoint(ipad) {
    font-size: em(22);
  }

  @include breakpoint(mobile) {
    font-size: em(18);
  }
}

h4 {
  font-size: em(26);

  @include breakpoint(desktop) {
    font-size: em(24);
  }
}

h5 {
  font-size: em(24);

  @include breakpoint(desktop) {
    font-size: em(21);
  }
}

h6 {
  font-size: em(20);

  @include breakpoint(desktop) {
    font-size: em(18);
  }
}


p {
  font-size: em(18);
  font-family: $sans-serif;
  line-height: 1.7;
  margin-bottom: 30px;
  color: $color-text;

  @include breakpoint(desktop) {
    font-size: em(16);
    margin-bottom: 25px;
  }

  strong {
    font-family: $sans-serif;
    font-weight: normal;
  }

  a {
    color: $color-text;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}

