/* Input Field & Select Field CSS*/
.group {
    display: flex;
    align-items: center;
    margin: 25px 0 35px;

    label {
        font-size: em(18);
        color: $color-text;
        font-weight: 600;
        font-family: $sans-serif;
        margin-bottom: 0;
        margin-right: 15px;
    }

    select.form-control {
        background: #f1f1f1 url('../../assets/images/drop-down.png') no-repeat 90% 50%;
        border: 1px solid #e2e2e2;
        color: #e6261c;
        width: 148px;
        padding: 1px 35px 1px 15px;
        height: 40px;
        font-size: em(18);
        font-family: $sans-serif;
        font-weight: 600;
        box-shadow: none;
        outline: none;

    }
}

.getField .group .form-control {
    background: transparent;
    border-top: none;
    border-bottom: 1px solid #dedede;
    border-right: none;
    border-left: none;
    border-radius: 0;
    color: #686868;
    width: 100%;
    padding: 1px 28px 1px 2px;
    height: 40px;
    font-size: em(18);
    font-family: $sans-serif;
    box-shadow: none;
    outline: none;
}

.getField .group select.form-control {
    background: transparent url('../../assets/images/drop-down.png') no-repeat 95% 50%;

}

.checklist {
    margin: 25px 0 0;

    .checkbox {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 5px 15px;

        label {
            cursor: pointer;
            margin: 0;

            input[type="checkbox"] {
                display: none;
            }

            .label-text {
                padding: 23px 15px;
                width: 225px;
                height: 74px;
                border-radius: 8px;
                display: inline-block;
                text-align: center;
                position: relative;
                font-size: em(16);
                font-family: $sans-serif;
                font-weight: 600;
                background: transparent;
                border: 1px solid #d9d9d9;
                color: #999999;

                @include breakpoint (desktop) {
                    width: 200px;
                    height: 72px;
                    padding: 22px 15px;
                    font-size: em(14);
                }
            }
        }

        label input[type="checkbox"]:checked+.label-text {
            background-color: $alert-btn;
            border-color: #e6261c;
            color: #494949;
        }

        label input[type="checkbox"]+.label-text:before {
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin: 0;
            vertical-align: middle;
            width: 23px;
            height: 23px;
            background: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 100%;
            color: #ecf0f1;
            content: "";
            position: absolute;
            right: 3px;
            top: 3px;
        }

        label input[type="checkbox"]:checked+.label-text:before {
            background: #e6261c;
            text-align: center;
            line-height: 22px;
            color: #ecf0f1;
            border-color: #e6261c;
            content: "✔";
        }
    }
}