#header-sroll {
    position: fixed !important;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    background: #f0f0f0;
    left: 322px;
    right: 0;
    top: 0;
    padding: 25px 0;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    @include breakpoint (desktop) {
        left: 300px;
    }

    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: em(24);
            color: $main-bg;
            font-family: $sans-serif;
            font-weight: 600;
            margin: 0 0 0 25px;

            @include breakpoint (desktop) {
                margin: 0;
            }
        }

        .header_right {
            display: flex;
            align-items: center;

            .dropdown {
                position: relative;
                display: inline-block;
                .profile-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    figure {
                        width: 52px;
                        height: 52px;
                        border-radius: 100%;
                        margin-right: 10px;
                        margin-bottom: 0;

                    }

                    a {
                        color: $main-bg;
                        font-size: em(16);
                        font-weight: 400;
                        pointer-events: fill;

                        &:hover {
                            color: $color-secondary;

                            i {
                                color: $color-secondary;
                            }
                        }

                        i {
                            color: $main-bg;
                            display: inline-block;
                            vertical-align: middle;
                            margin: 0 0 0 5px;
                        }
                    }
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    right: 0;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    width: 100%;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    padding: 12px 16px;
                    z-index: 3;

                    a {
                        font-size: em(18);
                        font-family: $sans-serif;
                        display: block;
                    }
                }

                &:hover {

                    .dropdown-content {
                        display: block;

                    }
                }
            }

        }
    }
}

.progress-container {
    background-color: #cccccc;
    height: 2px;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 102px;

    .progress-bar {
        background-color: #fdce00;
        height: 2px;
        width: 0%;
        padding: 0;
    }
}

/* DashBoard-Middle-Section*/
.dashborad_main_wrap {
    min-height: 100%;
    height: 100%;
    position: relative;

    .fixed-header {
        position: fixed;
        top: 0;
        z-index: 99999;
        padding: 0;
    }

    .dashboard_left {
        background: $main-bg;
        width: 322px;
        border-right: 1px solid #ebebeb;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;

        @include breakpoint (desktop) {
            width: 300px;
        }

        .dashboard_logo {
            padding: 15px 25px;
            text-align: center;
            border-bottom: 2px solid #1c2429;

            a {
                display: block;
            }
        }

        .dashboard_nav {
            margin: 3px 0 0;

            ul {
                padding: 0;
                list-style: none;
                margin: 0;

                li {
                    background: transparent;
                    padding-left: 25px;

                    a {
                        font-size: em(16);
                        color: $color-nav;
                        font-weight: 600;
                        font-family: $sans-serif;
                        background: transparent;
                        display: block;
                        transition: all 0.6s ease-in-out 0s;
                        padding: 15px 0 15px 25px;
                        border-top-left-radius: 32px;
                        border-bottom-left-radius: 32px;
                        height: 62px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        letter-spacing: 0.01em;
                        line-height: 1.2;
                        position: relative;
                        transition: all 0.3s ease-in-out 0s;

                        @include breakpoint (desktop) {
                            padding: 10px 0 10px 25px;
                            height: 58px;
                        }

                        &:hover,
                        &:focus {
                            background: #fff;
                            color: $color-main;
                        }
                        svg {
                            width: 32px;
                            height: 32px;
                            margin-right: 15px;

                            @include breakpoint (desktop) {
                                width: 28px;
                                height: 28px;
                                margin-right: 15px;
                            }
                        }

                        #Situation {
                            fill: #ea4a41;
                        }

                        #income {
                            fill: #f92021;
                            width: 42px;
                            height: 42px;
                            position: relative;
                            left: -4px;

                            @include breakpoint (desktop) {
                                width: 38px;
                                height: 38px;

                            }
                        }

                        #home {
                            fill: #2b7b77;
                        }

                        #work {
                            fill: #8e2d8d;
                        }

                        #education {
                            fill: #de770a;
                        }

                        #health {
                            fill: #00ff00;
                        }

                        #Finances {
                            fill: #06a7ca;
                        }

                    }

                    &.active {
                        a {
                            background: #fff;
                            color: $color-main;
                        }
                    }
                }


            }
        }
    }


    .dashboard_right {
        position: relative;
        top: 104px;
        display: inline-block;
        height: 100%;
        margin-left: 322px;
        width: calc(100% - 322px);
        z-index: 1;

        @include breakpoint (desktop) {
            margin-left: 300px;
            width: calc(100% - 300px);
        }

        .nav-bar {
            padding: 14px 20px;
            position: fixed;
            left: 322px;
            right: 0;
            z-index: 989;
            background: $white;

            @include breakpoint (desktop) {
                left: 300px;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    padding-right: 72px;

                    @include breakpoint (desktop) {
                        padding-right: 32px;
                    }

                    a {
                        font-size: em(20);
                        font-weight: 400;
                        letter-spacing: 0.3px;
                        border-bottom: 2px solid transparent;
                        color: $color-nav;

                        @include breakpoint (desktop) {
                            font-size: em(17);
                            letter-spacing: 0.2px;
                        }

                        &:hover {
                            color: $main-bg;
                            border-color: $color-brand;
                        }
                    }

                    &.active {
                        a {
                            color: $main-bg;
                            border-color: $color-brand;
                        }
                    }
                }

            }
        }

        .dashboard_inner_wrap {
            padding: 145px 100px 75px;

            .mainDiv {
                margin-bottom: 5%;
                position: relative;
                top: 0;

                .welcome {
                    display: none;
                }

                article.welcome {
                    background: $white;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
                    border-radius: 12px;
                    width: 982px;
                    padding: 45px 65px 75px;

                    @include breakpoint (desktop) {
                        width: 775px;
                        padding: 35px;
                    }

                    h3 {
                        font-size: em(30);
                        color: $color-text;
                        font-weight: 600;
                        font-family: $sans-serif;
                        margin-bottom: 10px;

                        @include breakpoint (desktop) {
                            font-size: em(28);
                        }
                    }

                    h4 {
                        font-size: em(26);
                        color: $color-text;
                        font-family: $sans-serif;
                        font-weight: 600;
                        margin-bottom: 10px;

                        @include breakpoint (desktop) {
                            font-size: em(24);
                        }
                    }

                    p {
                        font-size: em(18);
                        font-weight: 600;
                        color: #adadad;
                        font-family: $sans-serif;
                        margin-bottom: 5px;

                        @include breakpoint (desktop) {
                            font-size: em(16);
                        }
                    }
                }
            }

        }
    }
}